Repository sibiraj-s/ui-router-page-title: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path .gitignore, coffeelint -f coffeelint.json --reporter coffeelint-reporter

test: add karma-jasmine unit tests
  .eslintrc.yml
  docs/app.js
  docs/index.html
  karma.conf.js
  package-lock.json
  package.json
  tests/router.spec.js
Due: eslint --fix --ignore-path .gitignore

chore: format README.md
  README.md
Due: none

chore: cleanup eslint config
  .eslintrc.yml
Due: none

docs: update highlight.js to v9.17.1
  docs/index.html
Due: none

docs: update cdn dependencies
  docs/index.html
Due: none

build: use browsersync for local server
  Gruntfile.js
  package-lock.json
  package.json
Due: eslint --fix --ignore-path .gitignore

chore: migrate from travis-ci to github actions
  .github/workflows/tests.yml
  .travis.yml
Due: none

docs: update tests status badge in README
  README.md
Due: none

chore: simplify developmemt steps
  Gruntfile.js
  package-lock.json
  package.json
Due: eslint --fix --ignore-path .gitignore

chore: move build tasks to grunt
  Gruntfile.js
  package-lock.json
  package.json
  scripts/postbuild.js
  scripts/postbuild.sh
  scripts/prebuild.sh
Due: eslint --fix --ignore-path .gitignore

chore: update node version requirement
  package.json
Due: none

chore: update Gruntfile.js
  Gruntfile.js
Due: eslint --fix --ignore-path .gitignore

release: ui-router-page-title v1.0.11
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update coffeelint config
  coffeelint.json
Due: none

docs: update module usage instructions
  README.md
  docs/index.html
Due: none

chore: run jasmine tests sequentially
  karma.conf.js
Due: eslint --fix --ignore-path .gitignore

perf: remove unused ngmodel scope binding
  src/page-title.coffee
Due: coffeelint -f coffeelint.json --reporter coffeelint-reporter

chore: add missing coffeelint dependency
  package-lock.json
  package.json
Due: none

chore: cleanup package.json scripts
  package.json
Due: none

chore: update @uirouter/angularjs to v1.0.24
  docs/index.html
  package-lock.json
  package.json
Due: none

chore: update LICENSE
  LICENSE
Due: none

chore: regenerate package-lock.json
  package-lock.json
Due: none

release: ui-router-page-title v1.0.12
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update devDependencies
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: none

chore: update devDependencies
  package-lock.json
  package.json
Due: none

chore: use @coffeelint/cli instead of coffeelint
  package-lock.json
  package.json
Due: none

chore(packages): update devDependencies
  package-lock.json
  package.json
Due: none

chore: use pegasus lint config
  .eslintrc.yml
  package-lock.json
  package.json
Due: none

chore: update dependencies
  .eslintrc.yml
  Gruntfile.js
  docs/index.html
  package-lock.json
  package.json
Due: eslint --fix --ignore-path .gitignore

chore: add peerDependencies
  package.json
Due: none

chore: update highlightjs
  docs/index.html
Due: none

ci: setup actions cache
  .github/workflows/tests.yml
Due: none

chore: setup commitlint
  .commitlintrc.yml
  .huskyrc.yml
  package-lock.json
  package.json
Due: none

chore: update eslint config
  .eslintrc.yml
Due: none

ci: setup publish workflow
  .github/workflows/publish.yml
  package.json
  scripts/prepublish.js
  scripts/release.sh
Due: eslint --fix --ignore-path .gitignore

Path conditions:
  eslint --fix --ignore-path .gitignore: any of: *.js
  coffeelint -f coffeelint.json --reporter coffeelint-reporter: any of: *.coffee
